<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="form-group">
      <%= f.label :paste_rss_url_below %><br>
      <%= f.text_area :url, class:"form-control", placeholder:"Feed Me More!" %>
    </div>
    <div class="actions">
      <%= f.submit class:"btn btn-default" %>
    </div>
  <% else %>
    <%= render 'layouts/default' %>
  <% end %>
<% end %>