<% if user_signed_in? %>
  <h1>My subscriptions</h1>
  <% if user_signed_in? and current_user.feeds == [] %>
    <h4 class="highlight">There are no active subscriptions at this time. What are you waiting for? Add some using the button below!</h4>
    <%else%>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Subscription URLs</th>
          </tr>
        </thead>

        <tbody>
          <% @feeds.each do |feed| %>
            <tr>
              <td>
                <h5>
                  <%= feed.url %>
                </h5>
              </td>
              <% if (user_signed_in?) && (current_user == feed.user) %>
                <td>
                  <%= link_to "<span class=\"glyphicon glyphicon-refresh\"></span>".html_safe, [:refresh, feed], class: 'action btn btn-default', title: 'refresh feed' %>
                </td>
                <td>
                  <%= link_to 'Delete', feed, method: :delete, data: { confirm: 'Are you sure? The subscription and all associated stared articles will be destroyed!' }, class:"btn btn-danger" %>
                </td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  <br>

  <%= link_to 'New Feed', new_feed_path, class:"btn btn-default" %>
<% else %>
  <%= render 'layouts/default' %>
<% end %>
