<% if user_signed_in? %>
  <% if user_signed_in? and current_user.favorite_entries == [] %>
    <h4 class="highlight">You have not favorited any articles yet. Go read through some more <%= link_to "articles", entries_path, class:"btn-link" %> to find a good one!</h4>
  <%else%>
    <h1><span class="glyph glyphicon-star"></span> My Favorite Entries <span class="glyph glyphicon-star"></span></h1>

    <table class="table table-striped" style="width:100%">
      <thead>
        <tr class="row">
          <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Title</th>
          <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Content</th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Original</th>
          <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Published</th>
        </tr>
      </thead>

      <tbody>
        <% current_user.favorite_entries.each do |entry| %>
          <tr class="row">
            <td class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><%= link_to entry.title.titleize.truncate(100), entry, class:"btn-link", style:"color:#{000000};font-weight:bold;" %></td>
            <td class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><%= link_to entry.content.capitalize.truncate(250), entry, class:"btn-link" %></td>
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><%= link_to "Link", (entry.url), class:"btn-link" %></td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><%= entry.published.strftime("%m/%d/%Y %I:%M%P") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
    <br>
<% else %>
  <%= render 'layouts/default' %>
<% end %>
