<% if user_signed_in? %>
  <% if user_signed_in? and current_user.feeds == [] %>
    <h4 class="highlight">There are no active subscriptions at this time. What are you waiting for? Add some on your <%= link_to "subscriptions", new_feed_path, class:"btn-link" %> page.</h4>
  <%else%>
    <h1>Recent Entries</h1>

    <table class="table table-striped" style="width:100%">
      <thead>
        <tr class="row">
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Read</th>  
          <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Title</th>
          <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Content</th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Original</th>
          <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Published</th>
        </tr>
      </thead>

      <tbody>
        <% current_user.entries.each do |entry| %>
          <tr class="row">
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><%= "<span class=\"check glyphicon-ok\"></span>".html_safe if entry.read == true %></td>
            <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><%= link_to entry.title.titleize.truncate(100), entry, class:"btn-link", style:"color:#{000000};font-weight:bold;" %></td>
            <td class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><%= link_to entry.content.capitalize.truncate(250), entry, class:"btn-link" %></td>
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><%= link_to "Link", (entry.url), class:"btn-linked", target:"blank" %></td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><%= entry.published.strftime("%m/%d/%Y %I:%M%P") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
    <br>
<% else %>
  <%= render 'layouts/default' %>
<% end %>
