<h3>
	<%= render 'layouts/favorite' %>
	<%= @entry.title.titleize %>
</h3>

<p class="highlight">
  <%= @entry.content.capitalize %>
</p>

<p>
  <strong>
    <%= link_to "Original Page", (@entry.url), class:"btn-link", target:"blank" %>
  </strong>
</p>

<p>
  <strong>Published:</strong>
  <%= @entry.published.strftime("%m/%d/%Y %I:%M%P") %>
</p>

<%= link_to 'Back', entries_path, class:"btn btn-default" %>
