<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

   <% if devise_mapping.rememberable? -%>
    <div>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
  <% end -%>

  <%= f.submit "Sign in", class:"btn btn-primary" %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class:"btn btn-link" %>
<% end %>
