body { 
	padding-bottom: 70px; 
}

.logo {
	padding-top: 3px;
    padding-bottom: 3px;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.titles {
	color:#000000;
	font-weight:bold;
}

.glyph {
    position: relative;
    top: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

.check {
    position: relative;
    top: 4px;
    color: green;
    left: 14px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.btn-linked {
    margin-left: 18px;
    font-weight: 400;
    color: #428bca;
    cursor: pointer;
    border-radius: 0;
}
