<h3 class="highlight">Welcome to itFEEDS, an awesome new RSS reader! Please <%= link_to "sign in", new_user_session_path, class:"btn-link" %> to add subscriptions. </h3>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
      <%= image_tag("60165.png") %>
    </div>
  </div>