<% unless current_user.favorite_entries.exists?(id: @entry.id) %>
<%= link_to "<span class=\"glyph glyphicon-star-empty\"></span>".html_safe, favorite_entries_path(entry_id: @entry), method: :post %>
<% else %>
<%= link_to "<span class=\"glyph glyphicon-star\"></span>".html_safe, favorite_entry_path(@entry), method: :delete %>
<% end %>