<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>itFEED</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/bootstrap' %>
</head>

<body>
<%= render 'layouts/nav' %>
<div class="container" style="min-height: 34.5em;">
	<% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
<%= yield %>
</div> 
<br>
<br>
<br>
                      
</body>
</html>